{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Scrap Category</label>
                  <input type="text" name="scrap_category" class="form-control" placeholder="Category">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Date</label>
                  <input type="text" name="purchased_date" class="form-control" placeholder="Date">
                </div>

                

                  <div class="col-md-6 mb-3">
                    <label class="sr-only">Status</label>
                    <input type="text" name="status" class="form-control" placeholder="Status">
                  </div>

        
                
            
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>


  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if lots %}
        {% for lot in lots %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{ lot.scrap_category  }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ lot.purchased_date }}</h4>
                <p>
                  {{ lot.quantity }} </p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i>{{ lot.rate  }}</div>
                <div class="col-6">
                  <div class="listing-heading text-center"></div>{{ lot.status }}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i>{{ lot.description }}</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i>{{ lot.sold_at }}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i>{{ lot.total }}</div>
              </div>
              
              
             
            
          </div>
        </div>
  
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          No Listings Available
        </div>
        {% endif %}
  

 
    </div>
</div>
</section>

  

 
  
{% endblock %}