{% extends 'base.html' %}
{% block title%}Lots{% endblock %}
{% block content %}
<section id="card card-body"  style="background-image: url('/static/img/bk.jpg'); no-repeat ">

  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4 py-4 bg-primary text-white text-center">
          Search All Previous Trades
        </h1>
        <p class="text-center bg-secondary text-white ">Use Valid Keywords To Get Valid Results </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword" value="{{ values.keywords}}">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Scrap Category</label>
                  <input type="text" name="scrap_category" class="form-control" placeholder="Category" value="{{ values.scrap_category}}">
                </div>
                
                <div class="col-md-3 mb-3"></div>
                  <div class="col-md-6 mb-3">
                    <label class="sr-only">Status</label>
                    <input type="text" name="status" class="form-control" placeholder="Status" value="{{ values.status}}">
                  </div>

              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </section>


  <section id="listings" class="py-5" style="background-color: aliceblue;">
    <div class="container ">
    <div class="container ">   {% include 'home2.html'%}</div>
  
   
  
    <h2 class="  text-center bg-secondary text-white "> Inventory </h2>
  
  
      <div class="col-ml-8">
        
  
        <div class="">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_lot'%}">
                Add New Lot 
            </a>
            <table class="table table-sm">
                <tr>
                   
                    <th>Category</th>
                    <th>Date</th>
                    <th>Quantity(Ton)</th>
                    <th>Rate/Ton</th>
                    <th>Status</th>
                    <th>Lot Value</th>
                    <th>Description</th>
                    <th>Sold For</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {%if lots%}
                  {% for lot in lots %}
                 
                  <tr>
  
                    <th>{{ lot.scrap_category }}</th>
                    <th>{{ lot.purchased_date|date:"M d, Y" }}</th>
                    <th>{{ lot.quantity }}(ton)</th>
                    <th>Rs. {{ lot.rate  }}/ton</th>
                    <th>{{ lot.status }}</th>
                    <th>{{ lot.total|floatformat:-2  }}</th>
                    <th>{{ lot.description }}</th>
                    <th>{{ lot.sold_at }}</th>
                    <th><a href="{% url 'update_lot' lot.id %}" class="btn  btn-secondary btn-block ">Update</a></div></th>
                    <th><a href="{% url 'delete_lot' lot.id %}" class="btn btn-secondary btn-block ">Delete</a></th>
                   
            
                  </tr>
  
                  {% endfor %}
                {% else %}
                  <div class="col-md-12 text-center">
                    <p>No Lots Available </p>
                  </div>
  
                {% endif %}
  
                </table>
        </div>
  
  
  
        <div class="row">
          <div class="col-md-12">
            {% if lots.has_other_pages %}
              <ul class="pagination">
                {% if lots.has_previous %}
                <li class="page-item">
                  <a href="?page={{lots.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                  <li class="page-item" class="disabled">
                    <a class="page-link">&laquo;</a>
                  </li>
                {% endif %}
                  {% for i in lots.paginator.page_range %}
                   {% if lots.number == i %}
                   <li class="page-item active" >
                     <a class="page-link">{{i}}</a>
                   </li>
                   {% else %}
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
  
                    {% endif %}
                  {% endfor %}
                  {% if lots.has_next %}
                  <li class="page-item">
                    <a href="?page={{lots.next_page_number}}" class="page-link">&raquo;</a>
                  </li>
                  {% else %}
                    <li class="page-item" class="disabled">
                      <a class="page-link">&raquo;</a>
                    </li>
                  {% endif %}
  
  
              </ul>
            {% endif %}
          </div>
          </div>
    </div>
  
  </div>
  </div>
  </section>

  



  





 
  
{% endblock %}