<section id="card card-body ">
<div class="row">
    

    <div class="col py-5">
        <div class="col-md">
            <div class="card text-center hr bg-primary text-white " id="total-stock">
                <div class="card-header">
                    <div class="card-title">Net Stock(Ton) </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ tot_stock }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col py-5">
        <div class="col-md">
            <div class="card text-center hr bg-primary text-white " id="total-investment">
                <div class="card-header">
                    <div class="card-title">Total Investment(Rs)</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ tot_invest}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col py-5">
        <div class="col-md">
            <div class="card text-center  bg-primary text-white"  id="total-available">
                <div class="card-header">
                    <div class="card-title">Current Available Assets(Ton)</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ tot_available }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col py-5">
        <div class="col-md">
            <div class="card text-center hr bg-primary text-white" id="total-sold">
                <div class="card-header">
                    <div class="card-title">Total Sold(Ton)</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ tot_sold }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col py-5">
        <div class="col-md">
            <div class="card text-center hr bg-primary text-white" id="total-sold">
                <div class="card-header">
                    <div class="card-title">Total Profit(Ton)</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ profit }}</h3>
                </div>
            </div>
        </div>
    </div>





</div>
</section>